@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: rgb(251, 247, 247);
}
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(37, 99, 235), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .slider{
    background: rgb(139,37,157);
background: linear-gradient(196deg, rgba(139,37,157,1) 0%, rgba(18,40,126,0.9753151260504201) 10%, rgba(57,78,201,1) 63%);
  }
  .text{
        background: -webkit-linear-gradient(rgb(37, 99, 2435), rgb(23, 37, 84));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

  }
 